**pycache**/
__pycache__/
.pycache/
.DS_Store
.vscode/

data/
CoSEC/
datasets_raw/
outputs/
checkpoints/
submissions/
logs/

*.zip
*.h5
*.pt
*.pth
*.ckpt
*.npy
*.npz

metadata/*.h5
metadata/*.zip
metadata/*.pt
metadata/*.pth
metadata/*.ckpt
!metadata/*.json
metadata/train_manifest.json
